<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lbenzor1@gmail.com">email</a></li>
	        		<li><a href="https://github.com/luciobenzor">github.com/LucioBenzor</a></li>
				<li><a href="https://www.linkedin.com/in/lucio-benzor-081593167/">Linkedin</a></li>
                                <li><a href="https://public.tableau.com/profile/lucio1441#!/">tableau profile<a/></li>
				</ul>
			</footer>
		</body>
	</html>
